* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

.nav-bar{

  /* margin: 20px; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 25px;
  
}

.nav-bar li a{
  text-decoration: none;
  color: #000;
  padding: 0px 15px;  
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.1rem;
}

.section{
  height: 60vh;
  width: auto;
  
}
.container-intro{
  height: 100%;
  background-color: rgb(235, 196, 196);
  display: grid;
  justify-content:center;
  /* fix bg-image to fit container */
  background-image: url(https://picsum.photos/id/131/1700/700);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* background-size: auto;
  object-fit: cover; */
}

.container-intro h1{
 
  margin-top: 8%;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  font-weight: 700;
  font-size: 3rem;

}
.container-intro h2{
 
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-weight: 400;
  font-size: 2rem;

}
.container-intro p{

  margin-top: 40px;
  max-width: 50%;
  text-align: left;
  text-transform: capitalize;
  padding: 20px 50px;
  font-weight: 200;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 50%);

}
.intro-text{
  max-width:80vw;
}
#blog-entry-title h2{
  padding: 10px 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 300;
}


#row {
border: 1px solid red;
display: flex;
align-items: center;
justify-content:space-around;
/* gap:10%; */
padding: 2% 0;
}

.blog-card{
  height:400px;
  width:300px;
  border: 1px solid green;
  display: block;
}

.blog-post-box {
  display: grid;
}

.img-blog-card{
  object-fit: cover;
}

.footer{
  background-color: antiquewhite;
  margin-top: 2%;
}
.footer p{
  text-align: center;
  padding:5px 0;
  /* margin: 10px; */
  text-transform: capitalize;
}