* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

.nav-bar{

  /* margin: 20px; */
  border: 1px solid red;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 25px;
  
}

.nav-bar li a{
  text-decoration: none;
  color: #000;
  padding: 0px 15px;  
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.1rem;
}
