/* 1-Global styles */
/* Homepage style */
/* Sprint 2 Blog Styles */
/* Emotional-intelligence Blog */
/* Sprint-3  JS Blog */

/* Icons */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

/* font-family styles*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

/* typography  Styles*/

.h2 {
  font-family: 'Signika Negative', sans-serif;
}

.h2-color{
  color:#3E5151
}

/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* bg-Styles */


.bg-sprint1 {
  background-color: rgba(184, 184, 184, 15%);
}

.bg-sprint2 {
  background-color: rgba(184, 184, 184, 15%);
}

.bg-sprint3 {
  background-color: rgba(184, 184, 184, 15%);
}

.bg-sprint4 {
  background-color: #F9F2ED
}

.bg-sprint5 {
  background-color: rgba(47, 115, 26, 10%)
}

/* Navbar */

.nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 25px; */

}

.nav-bar li a {
  text-decoration: none;
  color: #000;
  padding: 0px 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-bar li a:hover {
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
}

.section {
  height: 100%;


}

/* Homepage */
.container-intro {
  height: 100%;
  display: grid;
  justify-content: center;
  /* resize this BG image to fit div */
  background-image: url(https://picsum.photos/id/131/1700/900);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-intro h1 {
  margin-top: 8%;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  font-weight: 700;
  font-size: 3rem;

}

.container-intro h2 {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;

}

.intro-text {
  max-width: 80vw;
}

.container-intro p {
  margin: 40px 0;
  max-width: 70%;
  text-align: left;
  padding: 20px 50px;
  font-weight: 200;
  font-size: 1.5rem;
}

.yani-intro:first-letter {
  text-transform: capitalize;
}

/* media queries for section intro */

@media (max-width:768px) {
  .container-intro p {
    margin-top: 40px;
    max-width: 100%;
    padding: 20px 20px;

  }
}

/* media queries for blog card*/

@media (max-width: 1510px) {
  #row {
    display: grid;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
  }


}

@media (min-width: 1200px) and (max-width:1510px) {

  #row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    margin: 20px 0;
  }
}



#blog-entry-title h2 {
  padding: 10px 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 300;
}


#row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* gap:10%; */
  padding: 2% 0;
}

.blog-card {
  height: 400px;
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 80%);
  display: block;
  border-radius: 5%;
}

.blog-post-box {
  display: grid;
}

.img-blog-card {
  /* width: 300px;
  height: 100%; */
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}

.img-card-box {
  height: 100%;
  z-index: -1;
  /* object-fit: scale-down; */
  /* border: 1px solid #000; */

}

.text-blog-card h2 {

  padding: 10px 15px;
  margin-top: 10px;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 400;
}

.text-blog-card ul {
  list-style: none;
  text-align: center;

}

.text-blog-card ul li {
  padding: 10px;
}



.blog-entry-list li a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 1.1rem;

}

/* :hover effect for links */
.blog-entry-list li a:hover {
  font-size: 1.3rem;
  text-shadow: 5px 5px 10px black;
}

/* footer Style */
.footer {
  background-color: rgba(8, 8, 8);
  /* margin-top: 2%; */
  height: 70px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}

.footer p,
.footer a {
  text-align: center;
  font-size: 1rem;
  padding: 10px 0 5px 0;
  /* margin: 10px; */
  text-transform: capitalize;
}

.dev-name {
  font-weight: 700;
  padding: 5px;
  margin: 5px;
}

.footer-home-link,
.footer p {
  color: #fff;

}

.footer-home-link {
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;

}

.footer-home-link:hover {
  background-color: rgb(255, 255, 255, 80%);
  color: #000;
}

/* media queries for footer */

@media (max-width:768px) {
  .footer p {
    max-width: 90%;
  }
}


/* Sprint 2 Blog Styles */


.nav-home-blog {
  font-size: 2.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

}


.blog-container {
  max-width: 85%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */



}

.h1-title::first-letter {
  text-transform: capitalize;
}

h2:first-letter {
  text-transform: capitalize;
}

.h1-title {
  padding: 20px 0 20px 50px;
}


.blog-p {
  max-width: 95%;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 20px 50px;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: justify;

}

.inline-element-list li {
  list-style-position: inside;

}

.header-text,
.header-date {
  padding: 0 50px;
  text-transform: capitalize;
  color: gray;

}

.header-text {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 300;
}

.header-date {
  font-size: 1rem;
}

.h1,
.h2 {
  font-weight: 600;
}

/* text-transform: capitalize; */

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}


.ul {
  /* border: 1px solid #000; */
  height: 100%;
  margin-top: 10px;
  margin-left: 30%;
  list-style: disc;
}

.ul li {
  font-size: 1.5rem;
  font-style: italic;

}

.inline-img,
.inline-block-img {
  max-height: 700px;
  max-width: 500px;
  margin: 30px 0;
}

.codepen-img {
  max-height: 900px;
  max-width: 700px;
  margin: 20px 0;
  border: 2px solid #000;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codepen-figcaption {
  padding: 50px;
  font-size: 1.2rem;

}

.summary-text {
  margin-bottom: 15%;
}

/* footer */
.footer-blog-entry {

  background: #000;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: capitalize;
}

.footer-blog-entry a,
.footer-top-link {
  padding: 5px;
  text-align: center;
  text-transform: capitalize;

}

.footer-blog-entry a:visited {
  color: #f0f8ff;
}

.footer-blog-entry a:hover {
  background-color: rgb(255, 255, 255, 80%);
  color: #000;
  font-weight: 800;

}

@media (min-width:700px) and (max-width:1200px) {
  .codepen-img {
    max-height: 600px;
    max-width: 500px;

  }

  .inline-img,
  .inline-block-img {
    max-height: 700px;
    max-width: 500px
  }
}

@media (max-width:700px) {
  .codepen-img {
    max-height: 450px;
    max-width: 250px;

  }

  .inline-img,
  .inline-block-img {
    max-height: 400px;
    max-width: 250px
  }
}

/* sprint-3 */
/* Emotional-intelligence Blog */

.eq-iq-blocks {
  border-radius: 50%;
  float: right;
  padding: 5px;
  margin-right: 10%;
  height: 250px;
  width: 250px;

}

.list-row {
  max-width: 100%;
  display: grid;
  justify-content: center;
}

.blog-list {
  width: 100%;
  border-radius: 20%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(246, 211, 211, 0.2);

}

@media (max-width: 768px) {
  .blog-list {
    width: 100%;
  }
}

.ei-list {
  margin: 0px 30px 30px 30px;
  padding: 10px 20px;
  text-align: center;
}

.ei-list li {

  padding: 5px 20px;
  list-style-position: inside;
  list-style-type: circle;
  font-size: 1rem;
  text-align: left;
}

.ei-list li::first-letter {
  text-transform: capitalize;
}

.last-p {
  margin-bottom: 80px;
}

.ei-figure {
  margin: 50px 0;
  text-align: center;
}

.h1-ei {
  margin-bottom: 0;
}

.ei-figure {
  text-align: center;
}

.ei-img {
  background-color: #ffa20080;
}

@media(max-width:1200px) {
  .h1-ei {
    font-size: 1.8rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .blog-p {
    font-size: 1.2rem;
  }

  .ei-list li {
    font-size: 1.1rem;
  }

  .ei-img {
    max-height: 500px;
    max-width: auto;

  }
}

@media(max-width:700px) {
  .ei-img {
    display: inline;
    max-width: 100%;
    max-height: 80%;
  }

  .header-text {
    display: inline;
  }

  .blog-p {
    text-align: left;
    word-spacing: 2px;
    /* padding: 20px; */
  }

}

/*  --- Sprint-3  JS Blog ---*/

.p-comments {
  color: #0000ff
}

.recipe-list {
  list-style-position: inside;
  /* padding: 30px; */

}

.recipe-list li,
.recipe-list p {
  max-width: 450px;
  padding: 0 30px;
}

.img-responsive {
  max-width: 400px;
  max-height: 458px;
}

.img-thor {
  text-align: center;
}


.img-responsive {

  display: inline-block;
  text-align: center;

}

/* thor pic styles */
.img-responsive figcaption {
  padding: 10px 0px;
}

/* media query for thor pictures small screen  */
@media (max-width: 550px) {
  .img-responsive img {
    max-width: 300px;
  }

}

.recipe-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.dahl-pic {

  max-height: 500px;
  min-width: 250px;
  /* margin: 30px 30px; */
}

.left-section {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 30px
}

/* media query for recipe picture */
@media (max-width: 768px) {
  .dahl-pic {

    max-height: 500px;
    min-width: auto;
    /* margin: 30px 30px; */
  }

}

.dom-img {
  max-width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .dom-img img {
    max-width: 90%;

  }
}

@media (min-width: 1400px) {
  #dom-id {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.js-blog-container {
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
  ;
}

/*  Sprint 4 - Core Blog */


.blog-container-neuro {

  max-width: 80%;
  height: 100%;
  background-color: #fff;


}

.h1-title,
.h2,
.h3,
.h4 {
  max-width: 90%;
}


.h3,
.h4 {
  padding: 10px 50px;

}




.h3,
.h4 {
  font-weight: 500;
}

.h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.h4 {
  font-size: 1.2rem;
  ;
}

.h4-sub {

  background-color: rgb(229, 130, 158);
  color: #fff;
  padding: 3px;
  display: inline-block;

}

/* media query to fix h1-title in small screens */
@media (max-width: 600px) {

  .h1-title {
    font-size: 1.5rem;

  }
}

/* media query for blog-p and titles responsiveness*/



.video-list {
  margin: 30px 0 30px 10%;

  list-style-type: none;
}

.video-list li {
  list-style-position: inside;
  font-size: 1.5rem;
  text-align: left;
  max-width: 80%;
  padding: 20px;
}

.video-list li a {
  text-decoration: none;

}

.video-list li::first-letter {
  text-transform: capitalize;
}

.video-list::before {
  content: url('../img/sprint-4/play.png');
}


.figure-container {
  display: grid;
  align-content: center;
  justify-content: center;
}

.img-neuro-container {
  /* width: 100%; */
  /* border: 1px solid black; */
  margin: 20px;
}

.img-neuro-container img {
  width: 100%;
}

/*  Sprint 4 */

.section-title {
  margin: 30px 0;
  padding: 30px 0px 30px 120px;

}

.top-title {
  border-bottom: 2px solid rgb(96, 96, 96);
  max-width: 90%;
}

.header-text-blog {
  font-size: 1.5rem;
  font-weight: 300;

}

.header-text-blog,
.header-blog-date {
  text-transform: capitalize;
  color: gray;
}

.h1-blog-title {
  font-weight: 800;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 20px 0;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.giff {

  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;

}

.b-h2 {
  background-color: rgb(187, 187, 187);
  text-decoration: underline;
}

.section-2-figure {
  margin: 30px 0px;
  text-align: center;
}

.img-fit {
  max-width: 70%;
  height: auto;

}

@media (max-width:768px) {
  .img-fit {
    max-width: 80%;
    height: auto;

  }


  .h1-blog-title {
    font-size: 1.8rem;
  }

}


.sub-style {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
  background-color: rgb(247, 104, 104);
  color: #f0f8ff;
  padding: 2px;

}

.span-text {
  color: rgb(247, 104, 104);
  font-size: 1.3rem;
  font-weight: 600;
}

.figure-container-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.box-1,
.box-2 {
  width: 40%;
}

.replit-img {
  width: 100%;
}

@media (max-width: 767px) {

  .box-1,
  .box-2 {
    width: 80%;
  }
}


.text-box {
  /* border: 5px solid rgb(247, 104, 104); */
  margin: 50px;
}



.iframe-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;


}

.iframe-about {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

  margin-bottom: 20px;
  text-align: center;
}

.iframe-youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.iframe-container {
  width: 50%;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .iframe-container {

    width: 90%
  }
}

.section-4 {
  width: 100%;
}



.list-heading {
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
}

/* Typography and padding fixes */

@media (min-width:768px) {

  .section-title,
  .h2 {
    padding: 30px 0px 30px 50px;
  }
}

@media (max-width: 768px) {

  .section-title,
  .h2 {
    padding: 30px 0px 30px 20px;
  }

  .blog-p {
    padding: 30px 0px 30px 20px;
  }
}

.botton-margin {
  margin-bottom: 100px;
}

/*  Learning plan review */

.hr {
  margin: 0 50px;
  /* height: 3px; */
  border: 1px solid #000
}

.div-figure-column {

  display: flex;
  justify-content: center;
}

.div-figure-row1,
.div-figure-row2 {
  max-width: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;

}

/* make Carrer pathway graph responsive */
@media (max-width: 764px) {

  .div-figure-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-figure-row1,
  .div-figure-row2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


  }
}

.ul-list-commit {
  padding: 10px 30px 40px 30px;
}

.li-commit {
  max-width: 95%;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 20px 50px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .li-commit {
    max-width: 100%;
    padding: 5px;

  }

}

