* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.sprint-2-tech-main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(184, 184, 184, 10%);
  border: 1px solid rgb(0, 22, 94);
}


.blog-container{
   border: 1px solid red;
   max-width: 70%;
   height:100%;
   background-color:#fff;
   
}

.blog-container h1,
.blog-container h2 {
  padding:30px 50px;
}


.blog-container p {
  max-width: 100%;
  font-weight: 400;
  
}

/* .blog-container p,
.h2 {
  margin-left: 50px;

} */


.inline-element-list li{
  list-style-position: inside;

}


#text-head{
  text-transform: capitalize;
  color:gray;
  font-size: 1.5rem;
  font-weight: 300;
}

#blog-date{
  font-size: 1rem;
}
.h1,
.h2 {
  text-transform: capitalize;
  font-weight: 600;
}

.h1{
  font-size: 2.5rem;
}
.h2{
  font-size: 2rem;
}

.blog-container p{
  font-size: 1.5rem;
  padding: 20px 30px }

.ul{
  /* border: 1px solid #000; */
  height: 100%;
  margin-top: 10px;
  margin-left: 30%;
  list-style:disc;
}

.ul li{
  font-size: 1.3rem;
  font-style: italic;
  
}
.inline-img,
.inline-block-img {
  max-height: 700px;
  max-width:500px
}

.codepen-img{
  max-height: 900px;
  max-width:700px;
  margin: 20px 0;
  border:2px solid #000;
}
 .figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
.codepen-figcaption{
  padding: 50px;
  font-size: 1.2rem;
  
}