* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Nunito', sans-serif !important;
}

.nav-home-blog{
  font-size: 2.5rem;
}

.sprint-2-tech-main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(184, 184, 184, 10%);
  border: 1px solid rgb(0, 22, 94);
}


.blog-container{
   border: 1px solid red;
   max-width: 70%;
   height:100%;
   background-color:#fff;
   
}

.blog-container h1,
.blog-container h2 {
  padding:30px 50px;
  font-weight: 800;
}

.h1-title{
  padding:20px 0 20px 30px!important;
}


.blog-container p {
  max-width: 100%;
  font-weight: 400;
  
}




.inline-element-list li{
  list-style-position: inside;

}

#text-head,
#blog-date{
  text-transform: capitalize;
  color:gray;
  
}
#text-head{
  font-size: 1.5rem;
  font-weight: 300;
}

#blog-date{
  font-size: 1rem;
}
.h1,
.h2 {
  text-transform: capitalize;
  font-weight: 600;
}

.h1{
  font-size: 2.5rem;
}
.h2{
  font-size: 2rem;
}

.blog-container p{
  font-size: 1.5rem;
  padding: 20px 30px }

.ul{
  /* border: 1px solid #000; */
  height: 100%;
  margin-top: 10px;
  margin-left: 30%;
  list-style:disc;
}

.ul li{
  font-size: 1.5rem;
  font-style: italic;
  
}
.inline-img,
.inline-block-img {
  max-height: 700px;
  max-width:500px;
  margin: 30px 0;
}

.codepen-img{
  max-height: 900px;
  max-width:700px;
  margin: 20px 0;
  border:2px solid #000;
}
 .figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
.codepen-figcaption{
  padding: 50px;
  font-size: 1.2rem;
  
}
.summary-text{
  margin-bottom: 15%;
}

@media (min-width:700px) and (max-width:1200px){
  .codepen-img{
    max-height: 600px;
    max-width: 500px;
   
  }
  .inline-img,
  .inline-block-img {
  max-height: 700px;
  max-width:500px
}
}

@media (max-width:700px){
  .codepen-img{
    max-height: 450px;
    max-width: 250px;
   
  }
  .inline-img,
.inline-block-img {
  max-height: 400px;
  max-width:250px
}
}